<mat-sidenav-container fullscreen>
    <mat-sidenav
        #start
        (click)="start.close()"
    >
        <app-header (userInfo)="getUserInfo($event)"></app-header>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <div class="toolbar-tools">
            <button
                mat-icon-button
                (click)="start.open('mouse')"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <div class="filler"></div>
            <span class="user">
                {{userEmail ? 'Hello ' + userEmail : 'Hello gusst'}}
            </span>
            <span class="time">{{currentDateTime}}</span>
        </div>
    </mat-toolbar>

    <main>
        <app-spinner></app-spinner>
        <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
</mat-sidenav-container>
