mat-form-field {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    /* background-color: whitesmoke */
}

.field {
    width: 95%;
    margin: 0.2rem auto
}

.mat-typography {
    height: 300px;
    /* width: 600px; */
}