<div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class=" pb-1 mb-0">
            <img
                mat-card-avatar
                [src]=" comment.imagePath || '../../../../assets/empty.jpg'"
                alt
            >
            <div class="close">
                <mat-icon
                    *ngIf="isAuth && comment.creator === userId"
                    class="del-comment"
                    style=" margin-left: 4rem;"
                    (click)="deleteComment(comment._id)"
                >
                    delete
                </mat-icon>
            </div>
        </h6>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 ">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong
                        class="text-gray-dark"
                        style="font-size: 20px;"
                    >
                        {{comment.userName}}
                    </strong>
                </div>
                <span class="d-block">{{comment.dateCreated}}</span>
                <p>{{comment.text}}</p>
            </div>
        </div>
        <!-- <small class="d-block text-right mt-3">
            <a href="#">All suggestions</a>
        </small> -->
    </div>
</div>
