/* You can add global styles to this file, and also import other style files */

// BEFORE
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.scss",

// @import  "~@angular/material/prebuilt-themes/pink.css";
// @import '~@angular/material/theming';

// @include mat-core();

// $custom-primary: mat-palette(mat-deep-purple);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// :root {
//     filter: invert(1) hue-rotate(180deg)
// }

// .invert {
//     filter: invert(1) hue-rotate(180deg)
// }

::-webkit-scrollbar {
    width: 10px;
}
  

::-webkit-scrollbar-track {
   background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}




 button:focus {
    outline: none !important;
}

.spin {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.102); */
    background-color: rgb(255, 255, 255);
    z-index: 20000;
    overflow-y: hidden;
}
.center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 4rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.spacer {
    flex: 1 1 auto;
  }

  .close {
    float: right
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }